
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

:root{
  --main-color: rgb(216, 130, 38);
  --primary-color:  #312e2e;
}

/* utility styles */
button{
    padding: 10px 30px;
    background: var(--main-color);
    border: none;
    cursor: pointer;
}
/* resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background: rgb(56, 49, 49); */
    background: #100e0f;

}
/* Nav Start */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: sans-serif;
    padding-top: 15px;
}

.logo{
    font-family: 'Playfair Display' , serif ;
}

li{
    display: inline;
    list-style: none;




}

li a{
   color: white; 
   text-decoration: none;
   margin-left: 40px;
   padding-left: 10px;

}

li a:hover{
    border-bottom: 2px solid var(--main-color);
}

/* NAV END */



/* HEADER START */

button:hover{
    color: white;
}



.header{
    background: url(pexels-nao-triponez-129207\ \(1\).jpg);
    background-position: center ;
    background-size: cover;
    height: 100vh;
    font-family: 'Playfair Display' , serif ;
    font-weight: normal;

    /* flex box */
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    text-align: center;
}


.main-headings{
    position: absolute;
    top: 7rem;
    font-size: 4rem;
    word-spacing: 10px;
   

}



.primary-heading{
    position: absolute;
    bottom: 4rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -40px;

}

.main-btn{
    position: absolute;
    bottom: 2rem;
    padding: 10px 30px;
    margin-top: 20px;
    background: transparent;
    background: var(--main-color);
    transform: translateY(60px);
}
/* OUR STORY START */
#our-story{
    /* height: 100vh; */
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
    align-items: center;
}

.img{
    width: 400px;
    height: 400px;
    background: url(pexels-chitokan-2183027-removebg-preview\ \(1\).png);
    background-position: center ;
    background-size: cover;
}

.title-style{
    display: flex;
    align-items: center;

}

.title{
    font-family:  'Playfair Display' , serif ;
    font-size: 4rem;
    color: white;
    transform: translateX(-100px);
}


.line{
    width: 100px;
    height: 2px;
    background: white;
    transform: translateX(-120px);

}

.section-content p {
    max-width: 500px;
    color: white;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;

}
/* OUR STORY END */

/* COFFEE START */

.coffee-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
}



.img-2{
    width: 400px;
    height: 400px;
}

.title-two{
    font-size: 3rem;
    color: white;
    font-family:  'Playfair Display' , serif ;
}

.content-section{
    max-width: 500px ;
    margin-top: 20px;
    font-family: sans-serif;
    color: white;
}
/* coffee start end */

.products h1{
    margin-left: 50%; 
}
.products{
    margin-top: 5rem;

}

.title-three{
    font-size: 4rem;
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;

}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}


.card{
    border: 2px solid var(--main-color);
    padding: 0 20px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px ;
    position: relative;
    margin-bottom: 4rem ;
    color: white;
    /* font-size: 1.5rem; */


}


.card-img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;

}

.img-one{
    background: url(1.png);
    background-position: center;
    background-size: cover;
}

.img-two{
    background: url(2.png);
    background-position: center;
    background-size: cover;
}

.img-three{
    background: url(3.png);
    background-position: center;
    background-size: cover;
}

.card-title h1{
   color:white ;
   font-family: 'Playfair Display' , serif;
   margin-top: 50px;
   font-size: 1.5rem;
   

   




}

.items p {
    color: white;
    margin: 20px 0;
    font-family: sans-serif;
    font-size: 1rem;
    margin-bottom: 50px;

}

/* PRODUCTS END */


footer{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    counter-reset: white;
    font-family: sans-serif;

}

footer h1:hover{
    border-bottom: 2px solid var(--main-color);
}


footer .container{
    margin: 20px;
    max-width: 300px;
    text-align: center;
    color: white;
}

footer .heading-info{
    margin-bottom: 20px;

}

footer p {
  line-height: 25px;
}

span{
    color: var(--main-color);
}

hr{
    margin-bottom: 25px;
    width: 500px;
    margin: 0 auto;

}

.para{
    color: white ;
    font-family: sans-serif;
    text-align: center;
    margin-top: 25px;

}

/* project end */

/* responsiveness */

@media only screen and (max-width: 900px){
    .main-headings,
    .primary-heading{
        font-size: 2.5rem;
    
    }
    #our-story{
        text-align: center;
    }
    #our-story .title{
        transform: translateX(50px);
    }
    #our-story .line{
        display: none;

    }
    .content-section{
        text-align: center;

    }

    #our-story .img-container .img{
        width: 70%;
        text-align: center;
        margin: 0 auto;

    }
    .coffee-container .img-container{
        margin-top: 5rem;
        width: 50%;

    }
    .title{
       margin:  0 auto; 

    }

    .title-two{
       margin: 0 auto; 

    }
    .title-three{
        /* display: none; */
        margin: 0 auto;

    }
    
    }
